<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

            {# Loader Animation #}
            <style >
               * {
                    box-sizing: border-box;
                }
                .loader {
                    animation: spin 2s infinite;
                    width: 25vw;
                    height: 25vw;
                    position: relative;
                    margin: auto;
                    top: calc(50vh - 12.5vw);
                    border-radius: 50%;
                    border: 2.8vw solid #e22608;
                }
                .loader:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 2.27vw solid transparent;
                    border-bottom: 5vw solid #fff;
                    top: 2vw;
                    left: calc(50% - 2.1vw);
                }
                .loader:before {
                    content: '';
                    position: absolute;
                    width: 8.48vw;
                    height: 6.5vw;
                    background: #e22608;
                    -webkit-transform: rotate(66deg) skew(41.164deg);
                    -moz-transform: rotate(66deg) skew(41.164deg);
                    -o-transform: rotate(66deg) skew(41.164deg);
                    transform: rotate(66deg) skew(41.164deg);
                    top: calc(50% - 3.2vw);
                    left: 5.5vw;
                }
                @-moz-keyframes spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                @-webkit-keyframes spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                @-o-keyframes spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                @keyframes spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                #lat, #lng{
                    display: none;
                }
            </style>

            {# Map Style #}
            <style>
                #map { height: 500px; }
            </style>

            {# Foundation CSS #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

            {# LeafLet CSS #}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
                integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
                crossorigin=""/>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

            {# JQuery JS #}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" crossorigin="anonymous"></script>
            {# Foundation JS #}
            <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

            <script>
                $(document).foundation();
            </script>

            {# Leaflet JS #}
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
